{% import 'macros/messages.twig' as msg %}

{% if messages.error is not empty or errors.any or messages.success is not empty or messages.warning is not empty %}
    <div id="messages">
        {% if messages.errors is not empty %}
            {{ msg.errors( messages.errors ) }}
        {% endif %}

        {% if errors.any %}
            {{ msg.errors( errors.all ) }}
        {% endif %}

        {% if messages.success is not empty %}
            {{ msg.success( messages.success ) }}
        {% endif %}

        {% if messages.warning is not empty %}
            {{ msg.warning( messages.warning ) }}
        {% endif %}
    </div>
{% endif %}
