<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand"><big>Foodie</big></span>
        </div>
        <ul class="nav navbar-nav">
            <li class="recipe-menu{% if 'recipes.' in current_route %} active{% endif %}">
                <a href="#">Recipes</a>
            </li>
            <li class="grocery-menu{% if 'grocery.' in current_route %} active{% endif %}">
                <a href="#">Groceries</a>
            </li>
            <li class="dropdown profile-menu{% if 'profile.' in current_route %} active{% endif %}">
                <a href="#" data-toggle="dropdown">Me <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="profile-menu{% if 'profile.index' in current_route %} active{% endif %}">
                        <a href="{{ url_route('profile.index') }}">View Profile</a>
                    </li>
                    <li class="profile-menu{% if 'profile.recipes' in current_route %} active{% endif %}">
                        <a href="{{ url_route('profile.recipes') }}">My Recipes</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
