composer.phar
config.codekit
.DS_Store
.env
Homestead.yaml
Homestead.json
_ide_helper.php
Thumbs.db
npm-debug.log

/build/**/*
/coverage/**
.idea
/node_modules
/resources/assets/vendor/*
/public/jspm_packages
/public/js
/public/img
/public/build
/public/fonts
/vendor
.vagrant
vagrant.retry
/storage/*