body {
  background-color: #fff !important;
}

header {
  margin-bottom: 15px;
}

nav {
  background-color: #ccc;
  width: 100%;
}

.subnav {
  padding-left: 0;
  & > li {
    display: inline;

    &:not(:first-child):before {
      content:" | "
    }
  }
}