/* Show */
.details {
  padding-left: 0;
  margin-bottom: 0;

  & > li {
    display: inline;

    &:not(:first-child):before {
      content: " • "
    }
  }
}

/* Create/Edit */
.ingredient:not(:last-child), .direction:not(:last-child),
.photo:not(:last-child), .file:not(:last-child) {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

ol.directions {
  list-style-type: none;
  padding-left: 12px;
}