@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);body {
  background-color: #fff !important;
}

header {
  margin-bottom: 15px;
}

nav {
  background-color: #ccc;
  width: 100%;
}

