<ul class="subnav">
    {% if recipe is defined and currentRoute.getName() != 'recipes.show' %}
        <li><a href="{{ recipe.getUrl() }}">Show</a></li>
    {% endif %}

    {% if recipe is defined and currentRoute.getName() != 'recipes.edit' %}
        <li><a href="{{ route( 'recipes.edit', { id: recipe.id } ) }}">Edit</a></li>
    {% endif %}
</ul>
