{% extends 'layout' %}

{% import 'macros.meta' as meta %}

{% block title %}All Recipes{% endblock %}

{% block pageTitle %}All Recipes{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ol>
                {% for recipe in recipes %}
                    <li><a href="{{ recipe.getUrl() }}">{{ recipe.getAttribute( 'name' ) }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock content %}
