{% extends 'layout' %}

{% import 'macros.meta' as meta %}

{% block title %}All Recipes{% endblock %}
{% block pageTitle %}All Recipes{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if recipes.isNotEmpty() %}
                <ol>
                    {% for recipe in recipes %}
                        <li><a href="{{ recipe.getUrl() }}">{{ recipe.getAttribute( 'name' ) }}</a></li>
                    {% endfor %}
                </ol>
            {% else %}
                No Recipes Added.<br />
                <a href="{{ route( 'recipes.create' ) }}" class="btn btn-success">Create Recipe</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
